html {
  height: 100%;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-weight: 300;
  font-size: 2em;
}

h2 {
  font-size: 1.333em;
  font-weight: 400;
}

a {
  color: $primary;
  text-decoration: none;
}

a:focus,
a:hover {
  border-bottom: 1px solid $primary;
  cursor: pointer;
}

input {
  border: 1px solid color($default-light shade(10%));
  padding: 0.3em 0.5em;
  transition: background 0.5s;
}

input:focus,
input:hover {
  outline: none;
  text-decoration: none;
  background: color(white shade(2%));
}
