/* Striped page layout */
.landing {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

/* Stripes are horizontal sections */
.stripe {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 40px 0;
}

.stripe--slim {
  @extend .stripe;
  padding: 10px 0;
}

/* Column grid */
.col--fifth { flex: 0 0 20%; }
.col--quarter { flex: 0 0 25%; }
.col--one-third { flex: 0 0 33.3333%; }
.col--half { flex: 0 0 50%; }
.col--two-thirds { flex: 0 0 66.6666%; }
.col--three-quarters { flex: 0 0 75%; }
.col--full { flex: 0 0 100%; }
