/* Light background palette. */
.default-back { background-color: $default-light; }
.primary-back { background-color: $primary-light; }
.secondary-back { background-color: $secondary-light; }
.danger-back { background-color: $danger-light; }
.success-back { background-color: $success-light; }
.warning-back { background-color: $warning-light; }
.white-back { background-color: white; }

/*Dark background palette*/
.gray-back { background-color: slategray; }

/*Light text palette*/
.default { color: $default-light; }
.primary { color: $primary-light; }
.secondary { color: $secondary-light; }
.danger { color: $danger-light; }
.success { color: $success-light; }
.warning { color: $warning-light; }
.white { color: white; }
