/* Light background theme. */
.back--default { background-color: $default-light; }
.back--primary { background-color: $primary-light; }
.back--secondary { background-color: $secondary-light; }
.back--danger { background-color: $danger-light; }
.back--success { background-color: $success-light; }
.back--warning { background-color: $warning-light; }
.back--white { background-color: white; }

/* Dark background theme */
.back--gray { background-color: slategray; }

/* Light text theme */
.default { color: $default-light; }
.primary { color: $primary-light; }
.secondary { color: $secondary-light; }
.danger { color: $danger-light; }
.success { color: $success-light; }
.warning { color: $warning-light; }
.white { color: white; }
