/* Dark color palette */
$default: slategray;
$primary: steelblue;
$secondary: teal;
$danger: crimson;
$warning: tomato;
$success: mediumseagreen;

/* Light color palette */
$default-light: color(whitesmoke tint(50%));
$primary-light: color(lightsteelblue tint(70%));
$secondary-light: color(lightcyan tint(50%));
$danger-light: lightpink;
$warning-light: moccasin;
$success-light: honeydew;
