.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
  background: black;
  margin: 0;
  padding: 10px;
}

.nav__link {
  text-decoration: none;
  border-bottom: none !important;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  transition: 0.5s color;
}

.nav__link:hover,
.nav__link:active {
  color: color(white shade(20%));
}

.nav__link--active {
  @extend .nav__link;
  text-decoration: underline;
}

.nav__brand {
  @extend .nav__link;
  font-weight: bold;
}
